.decorate {
    background-image: url("https://sv1.picz.in.th/images/2020/05/19/qYMnEZ.jpg");
    width: 100vw;
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }